*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #fec600;
}
header{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    height: 8.5vh;
}
header h1{
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    display: flex;
    justify-content: center;
}
#Containers {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid;
    height: 55vh;
    width: 30vw;
    background-color: rgb(189, 95, 95);
    overflow-y: auto;
}

#searchBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #6c64dd;
    border: 2px solid #00fed4;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
    width: 10vw;
}

#searchBtn:hover {
    background-color: #fec600;
    color: white;
}

#results {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.municipality-item {
    background-color: #f7f7f7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#Containers .txtos {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    border: solid 10px #f7f7f7;
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: 20.5vw;
    height: 10vh;
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    #Containers {
        width: 90vw;
    }
    
    #text {
        max-width: 90%;
    }
}